.images{
    display:flex;
    align-items: flex-start;   
}
.container{
    display:flex;
    align-items: center;
    flex-direction: column;

}
.window{
    transition:all 0.5s;
    overflow: hidden;
    width:300px;
    border:10px solid #ccc;
    border-radius: 10px;
}
#buttons{
    margin-top: 10px;
}
#buttons> button{
    margin: 0 5px;
}
.red{
    color:red;
}